[submodule "deps/CUL"]
	path = deps/CUL
	url = git@github.com:bartekordek/CUL.git
[submodule "deps/sdl2-repo"]
	path = deps/sdl2-repo
	url = git@github.com:spurious/SDL-mirror.git
	ignore = dirty
[submodule "deps/helpers"]
	path = deps/helpers
	url = git@github.com:bartekordek/helpers.git
