*.VC.db
*.bin
*.check_cache
*.cmake
*.d
*.exe
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.la
*.lai
*.lastcodeanalysisissucceded
*.lo
*.log
*.make
*.marks
*.o
*.obj
*.opendb
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.user
*cache
*~ml
build
SDL2Wrapper/dist
SDL2Wrapper/nbproject/private/private.xml
SDL2Wrapper/nbproject/Package-*