*.VC.db
*.bin
*.check_cache
*.cmake
*.d
*.exe
*.exp
*.idb
*.ilk
*.internal
*.iobj
*.ipch
*.ipdb
*.la
*.lai
*.lastcodeanalysisissucceded
*.lo
*.log
*.make
*.marks
*.o
*.obj
*.opendb
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.user
*cache
*~ml
.vs
Build-Linux/*
Build-Windows/*
build
libsdl2wrapper/nbproject/Makefile-*
libsdl2wrapper/nbproject/Package*
libsdl2wrapper/nbproject/private/*
libsdl2wrapperTestApp/*.dll
libsdl2wrapperTestApp/libsdl2wrapperTestApp/nbproject/Makefile-*
libsdl2wrapperTestApp/libsdl2wrapperTestApp/nbproject/Package-*
libsdl2wrapperTestApp/libsdl2wrapperTestApp/nbproject/private*
libsdl2wrapperTestApp/nbproject/Makefile-*
libsdl2wrapperTestApp/nbproject/Package-*
libsdl2wrapperTestApp/nbproject/Package-*
libsdl2wrapperTestApp/nbproject/private/
runDir/*.dll
runDir/*.so
